# framework => UI interface
streamlit

# Utilities
numpy
pandas

# Face recognition
scikit-learn
dlib-bin
face-recognition
git+https://github.com/ageitgey/face_recognition_models
setuptools<81

# Database
supabase

# Hash codes
bcrypt

# QR codes
segno

# Images
pillow

# Audio
librosa

# Voice embeddings
resemblyzer