# Framework
streamlit

# Utilities
numpy
pandas

# Machine Learning
scikit-learn

# Face recognition
dlib-bin
face-recognition

# Database
supabase

# Hash codes
bcrypt

# QR codes
segno

# Images
pillow

# Audio
librosa

# Voice embeddings
resemblyzer

setuptools<81